<html>

</br>
<HEAD><image src="asia/plublic/assets/images/logo_a.png"/><TITLE>ใบสั่งซื้อสินค้า</TITLE></HEAD>
<body>

<center>
<h1>บริษัท เอเชียการไฟฟ้า จำกัด</h1>
<p>158/1 ถนน ช้างเผือก ตำบล ศรีภูมิ อำเภอเมืองเชียงใหม่ จังหวัดเชียงใหม่</p>
<p>(โทร.053-214683) (แฟ๊กซ์.053-214717)</p></center>

<center>
  <table  style='border: 1px solid black;' >

    <tr><td>รหัสสินค้า</td></tr>
    <tr><td>รายการ</td></tr>
    <tr><td>ที่อยู่</td></tr>
    <tr><td>โทร</td></tr>
    <tr><td>E-mail</td></tr>

  <table  style='border: 1px solid black;'>
    <tr><td>เลขที่ใบสั่งซื้อ</td></tr>
    <tr><td>วันที่ใบสั่งซื้อ</td></tr>

  </table>
  </table>




<center><h3>รายการสั่งซื้อสินค้า</h3>
<table border="1">
    <tr>
      <td align="center">ลำดับ</td>
      <td align="center">รหัสสินค้า</td>
      <td align="center">รายการสินค้า</td>
      <td align="center">จำนวน</td>
      <td align="center">หน่วย</td>
      <td align="center">จำนวน/หน่วย</td>
      <td align="center">จำนวนเงิน</td>
    </tr>

  <tr>
  </tr>

  <tr><td>รวมเงิน</td>
  </tr>




  </tr>







</table>

</center>

</body>
</html>
